* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: blanchedalmond;
    font-family: "Hedvig Letters Serif", serif;
    scroll-behavior: smooth;
}
nav{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
      color: #813211;
    align-items: center;
}
.nav-logo h2{
    font-size: 50px;
}
.links{
    display: flex;align-items: center;
    gap: 30px;
}
.links a{
    text-decoration: none;
      color: rgb(106, 58, 2);
}
.section-1{
  background-image: url("soothing-cinnamon-drink-casting-cozy-light-table.jpg");
  background-position: center;
  background-size: cover;
    height: 100vh;
    justify-content: flex-start;
    padding: 200px;
    margin: 0px;
}


.section-1-box {
      font-size: 30px;
      max-width: 400px;
      color: #eecdbf;
      align-items: center;
    
    
    }
    .section-1-box p {
      font-size: 20px;
      margin: 15px 0;
    }
    .section-1-box button {
      padding: 12px 25px;
      background: #743619;
      border: none;
      color: bisque;
      font-size: 16px;
      border-radius: 10px;
      cursor: pointer;
    }
    .section-1-box button:hover {
      background:rgb(16, 5, 0);
    }
 

.section-2{
    display: flex;
    padding:0px 70px;
}

.section-2 h1{
    font-size: 35px;
    margin-bottom: 20px;
    
}
.section-2 h2{
    font-size:25px;
}
    .section-2 p{
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    
    }
    .section-2 h3{
      font-size: 25px;
    }
    .section-2 button {
      padding: 12px 25px;
            background:rgb(16, 5, 0);

      border: none;
      color: bisque;
      font-size: 16px;
      border-radius: 10px;
      cursor: pointer;
    }
    .section-2 button:hover {
      background: #b18d7d;

    }
    .section-3{
        display: flex;
        gap: 50px;
        padding: 0px 70px;
    }
 
.cards {
      display: flex;
      gap: 50px;
        
    }
    .card {
      background: #fff;
            height: 800px;
      width: 400px;
       padding:20px 20px;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }
    .card img {
      width: 100%;
      border-radius: 10px;
    }
    .card h3 {
      margin: 15px 0 10px;
      font-size: 20px;
      color:rgb(16, 5, 0);
    }
    .card p {
      font-size: 16px;
      color:rgb(16, 5, 0);

    }
    .card button {
      margin-top: 10px;
      padding: 10px 25px;
      background:rgb(16, 5, 0);
      color: bisque;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .card button:hover {
      background:rgb(83, 62, 52);
    }

.section-4{
  display: flex;
  gap: 50px;
  background-color: #c58f76;
   justify-content: flex-start;
    padding:0px 70px;
    margin-top:20px;
}
.section-4 h3{
  justify-content: flex-start;
  font-size: 35px;
text-align: start;
  
  }
.section-4 p{
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 20px;
  font-size: 20px;
  padding: 0px  10px;

}
    .section-4 button {
      font-size: 15px;
      margin-top: 10px;
      padding: 12px 25px;
          background:rgb(16, 5, 0);
      color: bisque;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .section-4 button:hover {
      background:rgb(83, 62, 52);
    }

.section-5{
  background-image: url("border.jpg");
  background-position: center;
  background-size: cover;
    height: 40vh;
    justify-content: flex-start;
    padding: 200px;
    margin: 0px; 
}

.section-5-box h3 {
        color: #eecdbf;
        font-size: 35px;
    margin-bottom: 20px;
justify-content: center;
    }
    .section-5-box p {

      font-size: 30px;
      max-width: 400px;
      color: #eecdbf;
      align-items: center;
    
    
    }
    
    


